@media only screen and (max-width : 1024px) 
	
	header 
		.left 
			display block		
			width 700px
			margin 15px auto 0
		.right, .center
			width 49.5%
			
	section
		.top
			.top_left, .top_right
				float:none;
				width 100%
		.bottom
			.bottom_left
				display none
			.bottom_right, .bottom_center
				width 49.5%
				margin 15px 0
			.bottom_center
				margin-right 1%

	footer
		.footer_left, .footer_center			
			width 49.5%
		.footer_center
			margin-right 0
		.footer_right
			width 100%

@media only screen and (max-width : 768px) 

	header
		.left, .center, .right
			display block
			width 320px
			margin 5px auto
			
	section
		.bottom
			.bottom_right, .bottom_center
				display block
				width 100%
				margin 15px 0
				
	footer
		.footer_left, .footer_center
			width 100%
				
