@import 'nib'

@keyframes loader {
	from {background-position: 0,0}
	to {background-position: -768px,0}
}

body:before
	content ''
	display block
	position absolute	
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 64px
	height 64px
	background-image url("../img/712.GIF")
	animation loader 1s steps(12) infinite
